<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <receiver
      android:name="no.irn.bonnetid.widget.PrayerAppWidget"
      android:exported="false"
      android:label="@string/prayer_widget_label">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        <action android:name="android.intent.action.TIME_SET" />
        <action android:name="android.intent.action.TIMEZONE_CHANGED" />
        <action android:name="android.intent.action.DATE_CHANGED" />
      </intent-filter>
      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/prayer_widget_info" />
    </receiver>
  </application>
</manifest>
